
// .social-list__item {
//   margin-right: 10px;
// }

// .social-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .social-list:nth-last-child(4) {
//   margin-right: 0px;
// }
// .social-list__link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   color: $clients-color;
//   border-radius: 50px;
//   transition: background-color $time $time-function, color $time $time-function;
//   /* outline: 1px solid red; */
// }

// .social-list__link:hover,
// .social-list__link:focus {
//   color: $white;
//   background-color: $blue;
// }
// .social-list__icon {
//   fill: currentColor;
// }

.social-list {
  @extend %ul;
  display: flex;
  align-items: center;
  justify-content: center;

&:nth-last-child(4) {
  margin-right: 0px;}

}

.social-list{
    &__item {
  margin-right: 10px;}
}

.social-list{
    &__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: $clients-color;
  border-radius: 50px;
  transition: background-color $time $time-function, color $time $time-function;}
  
  &__link:hover,
  &__link:focus {
  color: $white;
  background-color: $blue;
}
}

.social-list{
    &__icon {
  fill: currentColor;}
}
