ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: $main-color;
  background-color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav,
.list-cont,
.features-list,
.services-list,
.team-list,
.filters,
.projects-list,
.social__list,
.clients-list,
.social-list {
  padding: 0px;
  margin: 0px;
}

.features,
.services,
.team,
.clients {
  padding-top: 94px;
  /* background-color: goldenrod; */
}
